---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Text Settings
$base-font-family: 'Lato', sans-serif;
$base-font-weight: 300;
$heavy-font-weight: 700;
$base-font-size:   16px;
$base-line-height: 1.25rem; /* 20px - everything needs to fit in multiples of this to maintain vertical rhythm */
$double-line-height: 2.5rem;

$medium-font-size: 1.25rem;


$small-font-size: 0.625rem; /* 10px */
$small-line-height: 0.9375rem; /* 15px */

$caption-max-width: 200px;

// Colour Settings
$black-color: #111;
$dark-color: #404040;
$white-color: #fff;
$accent-color: #cad0db;

$grey-color: #c4c3c3;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$yellow-color: #fffd38;


// max sizes
$content-max-width: 2820px; //2800 + padding

// Layout Settings
$spacing-unit-section: 70px;
$spacing-unit: 20px;
$double-spacing-unit: 40px;
$padding-unit: 10px;
$sub-padding-unit: 5px;

// Widths for responsive switch points
$break-max-width-min: 2000px;
$break-large-width-min: 1400px;
$break-medium-width-min: 900px;
$break-small-width-min: 414px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base"
;
