---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Titillium Web', sans-serif;
$base-font-weight: 300;
$heavy-font-weight: 600;
$font-size-base: 20px;
$font-size-tiny: 0.5rem;
$font-size-small: 0.8rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-xlarge: 8rem;
$line-height-base: 1.6rem;
$line-height-medium: 2rem;
$line-height-tiny: 0.5rem;
$line-height-xlarge: 6rem;


// Colour Settings
$black-color: #1E1E1E;;
$white-color: #FFF;
$accent-color: #00656E;

// Extreme sizes
$content-max-width: 1400px;
$content-min-width: 375px;
$max-article-width: 800px;


// Content Image Thumbnail Widths
$thumbnail-large-width: 500px;
$thumbnail-small-width: 300px;


// Layout Settings
$spacing-unit-tiny: 5px;
$spacing-unit-small: 20px;
$spacing-unit-large: 80px;

$caption-width: 100px;
$gallery-padding: 2px;
$gallery-padding-negative: -2px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base"
;
