---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Lato', sans-serif;
$base-font-weight: 300;
$heavy-font-weight: 700;
$font-size-base: 20px;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-xlarge: 4rem;
$line-height-base: 1.6;

// Colour Settings
$black-color: #111;
$dark-color: #404040;
$grey-color: #D8D8D8;
$white-color: #FFF;
$accent-color: #0F4C81;

// Extreme sizes
$content-max-width: 1400px;
$content-min-width: 375px;
$max-article-width: 800px;


// Layout Settings
$spacing-unit-small: 20px;
$spacing-unit-large: 100px;

$xsmall-height-spacing: $line-height-base * $font-size-base * 0.25;
$small-height-spacing: $line-height-base * $font-size-base * 0.5;
$base-height-spacing: $line-height-base * $font-size-base;
$medium-height-spacing: $line-height-base * $font-size-base;
$large-height-spacing: $line-height-base * $font-size-large;
$xlarge-height-spacing: $line-height-base * $font-size-xlarge;

// Widths for responsive switch points
$break-point-small: $max-article-width + (2*$spacing-unit-small);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base"
;
