h1{
  text-align: center;
}

h3{
  text-align: left;
  font-size: 1rem;
}

h4{
  font-weight: 300;
  margin-bottom: 1rem;
}


header.page{
  position: absolute;
  left:0;
  right:0;
  top:0;
  z-index: 100;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

article.pulldown{
  height: 600px;
  position: absolute;
  bottom: calc(100% - 60px);
  left:0;
  right: 0;
  z-index: 50;
  background-color: red;
}

article.pulldown section.handle{
  position: absolute;
  bottom: 0;
}

article.main{
}

section.headline{
  text-align: center;
}

section.headline img{
  width: 100px;
  height: 100px;
}
