h1{
  text-align: center;
}

h3{
  text-align: left;
  font-size: 1rem;
}

h4{
  font-weight: 300;
  margin-bottom: 1rem;
}

header.page{
  position: absolute;
  left:0;
  right:0;
  top:0;
  z-index: 100;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

body.cv article.pulldown{
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: calc(100% - 55px);
  padding-left: 0;
  padding-right: 0;
  z-index: 50;
}



article.pulldown section.content{
  position: relative;
  padding-top: 96px;
  background-color: #fff;
  background-image: url(../../../images/hero/charlie-2800-800.jpg);
  background-size: cover;
  background-position: center;
}

article.pulldown section.handle{
  padding-left: 0px;
  position: relative;
  max-width: 100%;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,0.2);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}


body.cv article.main{
  margin-top: 80px;
}

article.main section{

}

section.headline{
  text-align: center;
}

section.headline img{
  width: 100px;
  height: 100px;
}
