---
layout: hero
---
<div class="page-content">
  <section class="intro">
    <a name="photography">
    <h3>PHOTOGRAPHY</h3>
    <p class="subtext">
    Hello! Darren here. I’m a portrait photographer based in Southampton and London, mainly shooting beauty and editorial. As well as digital, I enjoy working with old film cameras and love soft, naturally lit black and white images. I’m always looking to meet new models, makeup artists and stylists. So if you’re interested in working together, <a href="mailto:shawdm@gmail.com">get in touch</a> or find me on <a href="https://twitter.com/shawdm">Twitter</a> or <a href="https://instagram.com/shawdm">Instagram</a>.
    </p>
  </section>
  <section>
    {% comment %}Get all posts with the front catgeory set.{% endcomment %}
    {% for post in site.categories.front%}
      <article class="post">
        {% responsive_image_block %}
          path: {{ post.image }}
          alt: Image of {{ post.title }}
          title: {{ post.excerpt }}
        {% endresponsive_image_block %}
      </article>
    {% endfor %}
  </section>
</div>

<div class="page-content tech-content">
  <section class="intro">
    <a name="!photography">
    <h3>!PHOTOGRAPHY</h3>
    </a>
    <p class="subtext">
      Hi. Darren here again. Apart from the photography, I’m a developer at <a href='https://ynap.com'>Yoox Net-A-Porter Group</a>. I used to be a technical lead at <a href='https://ibm.com'>IBM</a>. I’m learning to take portrait and beauty pictures. I mainly write about photographs I love here, but occasionally something else. I'm rubbish at writing bios, but better at replying to <a href="mailto:shawdm@gmail.com">emails</a>, <a href="https://twitter.com/shawdm">Twitter</a> and <a href="https://instagram.com/shawdm">Instagram</a>.
    </p>
  </section>
  <section class='blog'>
    {% comment %}Get all posts with the blog catgeory set.{% endcomment %}
    {% for post in site.categories.blog%}
      <a href="{{ post.url }}">
        <article class="post">
          <h3>{{post.title}} <span class="date">{{post.date_written | date: "%B %Y" }}</span></h3>
          <p class='subtext'>{{post.excerpt}}...</p>
        </article>
      </a>
    {% endfor %}
  </section>
</div>

<!--
<div class="page-content project-content">
  <section class='project'>
    {% comment %}Get all posts with the project catgeory set.{% endcomment %}
    {% for post in site.categories.project%}
        <article class="post">
          <h3>{{post.title}}</h3>
          <p class='subtext'>{{post.excerpt}}</p>
        </article>
    {% endfor %}
  </section>
</div>
-->
