---
layout: hero
---
<div class="page-content">
  <section>
    {% comment %}Get all posts with the front catgeory set.{% endcomment %}
    {% for post in site.categories.front%}
      <article class="post">
        <img src="{{ post.image }}" title="{{ post.excerpt }}" alt="Image of {{ post.title }}"/>
      </article>
    {% endfor %}
  </section>
</div>

<div class="page-content">
  <section>
    {% comment %}Get all posts with the blog catgeory set.{% endcomment %}
    {% for post in site.categories.blog%}
      <a href="{{ post.url }}">
        <article class="post">
        {{post.content}}
        </article>
      </a>
    {% endfor %}
  </section>
</div>
