<section class='about'>
    <div class='profile-images'>
        {% responsive_image path: images/site/darren-shaw-july-2017.jpg class: thumbnail %}
        {% responsive_image path: images/site/darren-shaw-july-2017-2.jpg class: thumbnail %}
    </div>
    <p>
        Hello. I'm Darren Shaw, a software developer at Net-A-Porter, which I've occasionally <a href="https://medium.com/ynap-tech/the-colour-of-net-a-porter-and-mr-porter-1667a05a8b7d">written</a> about. 
    </p>
     <p>
        I also play at being a <a href="/photography.html">portrait photographer</a> - but it's just a hobby. I love the photographs of Boo George, Norman Jean Roy, Steven Meisel and especially Peter Lindbergh. I've also <a href="https://www.darrenshaw.org/blog/2019/11/24/gigi-hadid.html">written</a> about why I like their pictures. I sometimes do test shoots, so if you're interested in working together please get in <a href="mailto:shawdm@gmail.com">touch</a>. 
    </p>
    <p>
        Darren, June 2022.
    </p>
</section>
