<section class="archive" id="archive">
    <div class='grid'>
        <svg class='logo' width="100%" height="100%" viewBox="0 0 816 597" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(-0.937431,-3.69859,3.59889,-0.912163,-17424.7,16476.1)">
                <path d="M2859.76,5813.13L2908.43,5615.85L2972.08,5615.85L3021.04,5813.13L2988.78,5813.13L2978.13,5770.79L2902.38,5770.79L2891.73,5813.13L2859.76,5813.13ZM2933.2,5642.63L2908.72,5742.57L2971.79,5742.57L2947.6,5642.63L2933.2,5642.63Z" style="fill:rgb(30,30,30);fill-rule:nonzero;"/>
            </g>
        </svg>
    </div>
    <div class='menu'>
        <a onclick="return showArticlesArchive()" href="/projects.html#archive" >Projects</a>
        <a onclick="return showPhotoArchive()" href="/photography.html#archive">Photos</a>
    </div>
    <div id='archive-articles' class='grid {% if page.layout == "photo-slideshow" or page.layout == "photography" %}hidden{% endif %}'>
    {% assign all_posts = site.posts | where_exp: "item", "item.categories contains 'blog'" %}
        {% for post in all_posts limit:100 -%}
        <div class='grid-item'>
            <a href='{{ post.url }}' title='{{post.date_written | date: "%d %B %Y"}}'>
                <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' -}}</p>
        </div>
        {% endfor -%}
    </div>    
    <div id='archive-photos' class='grid {% if page.layout != "photo-slideshow" and  page.layout != "photography" %}hidden{% endif %}'>
    {% assign all_posts = site.posts | where_exp: "item", "item.categories contains 'photo'" %}
        {% for post in all_posts limit:100 -%}
        <div class='grid-item'>
            <a href='{{ post.url }}' title='{{post.date_written | date: "%d %B %Y"}}'>
                <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' -}}</p>
        </div>
        {% endfor -%}
    </div>    
</section>