<section class="content">
  <h1>Hello.</h1>
  <p>Darren here. I work in technology at <a href="https://www.net-a-porter.com/gb/en/">Net-A-Porter</a>, but my real love is for fashion, beauty and portrait photography. I spend my spare time writing about pictures I love and trying to emulate them. I’m always happy to meet models, makeup artists and stylists. So if you’re interested in working together, get in touch by <a href="mailto:shawdm@gmail.com">email</a> or find me on <a href="https://twitter.com/shawdm">Twitter</a> or <a href="https://instagram.com/shawdm/">Instagram</a>.</p>
</section>
