<header class="site">
  <a href="{{site.url}}">
    <div class="banner">
      <h1>darrenshaw.org</h1>
    </div>
  </a>
</header>

<header class="hero">
  <img width="100%"
    src="images/hero/charlie-1400-500.jpg" alt="Sophie on the beach"
    srcset="
      /images/hero/charlie-414-300.jpg 414w,
      /images/hero/charlie-1000-400.jpg 1000w,
      /images/hero/charlie-1400-500.jpg 1400w,
      /images/hero/charlie-2000-571.jpg 2000w,
      /images/hero/charlie-2800-800.jpg 2800w"/>
</header>
