<div class="header {{include.class}}">
    <div class="content">
        <div class="title"><a href="/">Darren Shaw</a></div>
        <nav>
            <a title="Photography" href="/photography.html">Photography</a>
            <a title="Projects" href="/projects.html">Projects</a>
            <a title="Things I'm reading, watching, listening to or thinking about and don't want to lose." href="/notes.html">Notes</a>
            <a class="nodecoration" title="Music" href="/music.html">&#9835;</a>
        </nav>
    </div>
</div>