/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure{
    margin: 0;
    padding: 0;
}


/**
 * consistent box sizing
 */
html, body, div{
  box-sizing: border-box;
}


/**
 * Basic styling
 */
body{
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $black-color;
  background-color: $white-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  min-width: $content-min-width;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6{
  text-align: center;
}

h1{
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: $heavy-font-weight;
  margin-bottom: 0.425rem;
}

h1 span.date{
  font-weight: $base-font-weight
}

h2{
  font-size: 1.25rem;
  font-weight: $heavy-font-weight;
  line-height: 1.25rem;
  margin-top: 0.825rem;
  margin-bottom: 0.425rem;
}

a{
  color: $black-color;
}

p{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: $base-line-height;
  line-height: $base-line-height
}

img{
  max-width: 100%;
}



/**
 * Header styling
 */
header.hero{
  padding-bottom: $spacing-unit-section;
  padding-top: $spacing-unit-section;
  background-color: blue;
  width: 100%;
  height: 385px;
  text-align: center;
  margin-bottom: $spacing-unit;
}

header.site{
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}


header.site .banner{
  width: $content-left-width;
  padding-right: 20px;
  text-align: right;
}

header.site .about{
  flex-grow: 1;
  max-width: $content-right-width;
}

header h1{
  text-align: right;
  font-size: 2em;
  font-weight: $base-font-weight;
}

header a, header a:visited, header a:hover{
  text-decoration: none;
  color: $black-color;
}



/**
 * Main content styling
 */
.page-content{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: $content-max-width;
}

section{
  display: flex;
  flex-direction: row;
}

section header{
  width: $content-left-width;
}
section header p{
  text-align: right;
  padding-right: $spacing-unit;
}

section article{
  flex-grow: 1;
  max-width: $content-right-width;
}

.page-accent{
    margin: auto;
    background-color: $accent-color;
    color: $white-color;
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;
}

article.post{

}

article.post img{

  margin-bottom: -5px; /* I don't understand this, needed to stop extra margin */
}

article.about{
  margin: auto;
  max-width: $content-max-width;
  text-align: justify;
}

article.about a{
  color: $white-color;
}

p.images{
  text-align: center;
  height: 80px;
}

p.images img{
  height: 100%;
}



/**
 * Footer styling
 */
footer{
    width: 100%;
    max-width: $content-max-width;
    margin: auto;
    text-align: justify;
    padding-top: $spacing-unit;
}

footer p{
  text-align: center;
  line-height: $base-line-height
}



@media (max-width: $content-max-width){
  p{
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  article.about{
    max-width: 100%;
  }
}
