/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure, img{
    margin: 0;
    padding: 0;
    text-align: left;
}

/**
 * consistent box sizing
 */
html, body, div{
  box-sizing: border-box;
}

/**
 * Prevents extra space below img
 */
img{
  display: block;
}

img.square{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img.thumbnail{
  width: 100%;
  max-width: $thumbnail-small-width;
}

img.full-width{
  width: 100%;
  max-width: 100%;
}

/**
 * Basic styling
 */
body {
  font-size: $font-size-base;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $line-height-base;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  border: 0;

  color: $black-color;
  background-color: $white-color;
}

h1, h2, h3 {
  font-weight: $base-font-weight;
}

h1{
  font-size: $font-size-xlarge;
  line-height: $line-height-xlarge;
}

h2 {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  padding-top: 1rem;
}

h3 {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a{
  text-decoration: none;
  color: $white-color;
  background-color: $black-color;
  padding-left: $spacing-unit-blockout;
  padding-right: $spacing-unit-blockout;
  border-radius: $spacing-unit-blockout;
}

p{
  padding-bottom: 1rem;
}


/**
* Default Grid
*/
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: $spacing-unit-small;
}


.grid-item:nth-child(odd){
  grid-column: 1 / span 6;
}

.grid-item:nth-child(even){
  grid-column: 7 / span 6;
}


/**
 * Header and Navigation bar
 */
 .header{
  width: 100%;
  height: $spacing-unit-medium;
  background-color: $black-color;
}

nav {
  display: flex;
  font-size: $font-size-small;
  line-height: $spacing-unit-medium;
  align-items: center;
  justify-content: center;
  color: $white-color;
}

nav span.nav{
  padding-left: $spacing-unit-tiny;
  padding-right: $spacing-unit-tiny;
}

nav .title{
  font-weight: $heavy-font-weight;
}

nav a {
  text-decoration: none;
  background-color: $black-color;
  color: $white-color;
  border: 0;
  padding: 0;
}

/**
* About
*/
.about{
  max-width: $max-article-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit-xlarge;
  padding-left: $spacing-unit-small;
  padding-right: $spacing-unit-small;

  font-size: $font-size-small;
  line-height: 1rem;
}

.about a{
  text-decoration: underline;
  color: $black-color;
  background:none;
  padding:0;
  border: 0;
}

.about .grid .logo{
  grid-column: 3 / span 8;
  margin-bottom: $spacing-unit-small;
}


.about .grid-item{
  grid-column: 3 / span 4;
}


/**
* Archive
*/
.archive{
  max-width: $max-article-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit-xlarge;
  padding-left: $spacing-unit-small;
  padding-right: $spacing-unit-small;

  font-size: $font-size-small;
  line-height: 1rem;
}

.archive h3{
  font-size: $font-size-small;
  font-weight: $heavy-font-weight;
  line-height: 1rem;
}

.archive a{
  text-decoration: none;
  color: $black-color;
  padding:0;
  border: 0;
}

.archive a:hover{
  text-decoration: underline;
}

.archive .grid .logo{
  grid-column: 3 / span 8;
  margin-bottom: $spacing-unit-small;
}

.archive .grid-item:nth-child(odd){
  grid-column: 3 / span 4;
}

.archive .grid-item:nth-child(even){
  grid-column: 7 / span 4;
}
 
.archive .grid-item:nth-child(odd) h3, .archive .grid-item:nth-child(odd) p{
  text-align: right;
}

.archive .grid-item:nth-child(even) h3, .archive .grid-item:nth-child(even) p{
  text-align: left;
}



/*
 * Albums
 */
 .albums a{
  text-decoration: none;
  background: none;
  color: $black-color;
  padding:0;
  border: 0;
}

.albums .letter{
  margin-top: $spacing-unit-xlarge;
  margin-bottom: $spacing-unit-large;
}

.albums .letter h1{
  grid-column: 6 / span 2;
  text-align: center;
}

.album{
  margin-bottom: $spacing-unit-large;
  padding-left: $spacing-unit-small;
  padding-right: $spacing-unit-small;
}

.album .header{
  background: none;
  height: auto;
  grid-column: 1 / span 12;
}

.album .header h2{
  display: inline;
  line-height: $line-height-medium-nospace;
}
.album .header h2.title{
  font-weight: $heavy-font-weight;
}

.album .art{
  grid-column: 1 / span 3;
}

.album .art img{
  width: 100%;
}

.album .description{
  grid-column: 4 / span 8;
}


/**
* Footer
*/
section.footer{
  margin-top: $spacing-unit-xlarge;
  margin-bottom: $spacing-unit-small;
}

section.footer p{
 font-size: $font-size-small;
 text-align: center;
}

section.footer a{
  background-color: $white-color;
  color: $black-color;
  border: 0;
}


/**
 * Default (blog-post) article
 */
article {
  max-width: $max-article-width;
  margin-left: auto;
  margin-right: auto;
}

article p img{
  max-width: 100%;
}

article ol.references{
  font-size: $font-size-small;
}

article p img.full-spaced{
  padding-top: $spacing-unit-tiny;
}

article section.title h2{
  font-weight: $heavy-font-weight;
}

article section.title h2 span{
  font-weight: $base-font-weight;
}

article.blog section{
  padding-left: $spacing-unit-small;
  padding-right: $spacing-unit-small;
}


/**
 * blog-photo article
 */
article.blog-photo{
  max-width: $content-max-width;
  margin-top: 0;
}

article.blog-photo img {
  display: block;
}

article.blog-photo img.pad {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article.blog-photo p {
  padding: 0;
}

article.blog-photo p.square-text-above{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

article.blog-photo p.square-text-below{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/**
 * blog-portrait article
 */
article.blog-portrait {
  max-width: $max-article-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

article.blog-portrait section {
  padding-left: $spacing-unit-small;
  padding-right: $spacing-unit-small;
  margin-top: 0;
}

article.blog-portrait section.layout-half {
  display: grid;
  grid-template-columns: auto auto;
}

article.blog-portrait section.layout-third {
  display: grid;
  grid-template-columns: auto auto auto;
}

article.blog-portrait img {
  display: block;
}

article.blog-portrait img.pad {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article.blog-portrait p {
  padding: 0;
}

article.blog-portrait p.square-text-above{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

article.blog-portrait p.square-text-below{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


article.blog-portrait section.title {
  margin-top: $spacing-unit-medium;
  margin-bottom: $spacing-unit-medium;
}

article.blog-portrait section.title h1 { 
  text-transform: uppercase;
  font-weight: $heavy-font-weight;
}

/* Font has padding around letters, may need adjusting for left looping characters*/
article.blog-portrait section.title h1::first-letter{
  margin-left: -0.08em;
}


article.blog-portrait section.title h2{ 
  text-transform: uppercase;
  font-size: $font-size-medium;
  font-weight: $base-font-weight;
  line-height: $line-height-medium-nospace;
  padding-top: 0;
} 

article.blog-portrait section.title h2 b{ 
 font-weight: $heavy-font-weight;
} 




/**
 * photography article
 */
article.photography{
  max-width: 100%;
}

article.photography p{
  padding-bottom: 0;
}

article.photography p.full-bleed{
  width: 100%;
  max-width: 100%;
  margin: 0;
  background-color: $black-color;
}

/**
 * Gallery
 */
ul.gallery {
  list-style-type: none;
  column-count: 3;
  column-gap: $spacing-unit-tiny;
  padding-top: 0;
  background-color: $black-color;
  padding-left: $spacing-unit-tiny;
  padding-right: $spacing-unit-tiny;
}

ul.gallery li{
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 0;
  break-inside: avoid;
  padding-top: $spacing-unit-tiny;
}

ul.gallery li img{
  width: 100%;
}


@media (max-width: 1100px) {


}

@media (max-width: 800px) {

  ul.gallery {
    column-count: 1;
    column-gap: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

@media (max-width: 600px) {

  .archive .grid{
    column-gap: $spacing-unit-small;
    row-gap: 0;
  }

  .archive .grid-item:nth-child(odd){
    grid-column: 3 / span 8;
  }
  
  .archive .grid-item:nth-child(even){
    grid-column: 3 / span 8;
  }
   
  .archive .grid-item:nth-child(odd) h3, .archive .grid-item:nth-child(odd) p{
    text-align: left;
  }
  
  .archive .grid-item:nth-child(even) h3, .archive .grid-item:nth-child(even) p{
    text-align: left;
  }

  .about .grid-item{
    grid-column: 3 / span 8;
    text-align: left;
  }
  
}