/**
 * Reset
 */
section.federer-perspired a {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-style: none;
  background-color: #fff;
}


/**
 * Headings
 */
section.federer-perspired h1, section.federer-perspired h2, section.federer-perspired h3, section.federer-perspired h4, section.federer-perspired h5, section.federer-perspired h6 {
  text-align: center;
}

.federer-perspired h1 a {
  text-decoration: none;
}

.federer-perspired h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.federer-perspired h1 span.date {
  font-weight: 300;
}

.federer-perspired h2 {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
}


.federer-perspired h3{
  font-weight: normal;
  font-size: 0.625rem;
}

.federer-perspired h3 a{
  text-decoration: none;
}

.federer-perspired h3 a:HOVER{
  text-decoration: underline;
}

.federer-perspired small{
  text-transform: uppercase;
}

.federer-perspired a {
  color: #111;
}

.federer-perspired blockquote{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.federer-perspired p {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 2rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.federer-perspired p.image{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.federer-perspired ol.notes{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1.25rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.625rem;
}

.federer-perspired img {
  max-width: 100%;
}

.federer-perspired fieldset{
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
}

/**
 * Site content styling
 */
.federer-perspired .page-content{
  width: 100%;
}


.federer-perspired .open-close-wrapper{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  width: 21px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.federer-perspired .open-close{
  width: 5px;
  height: 5px;
  margin-left: 1px;
  margin-right: 1px;
}

.federer-perspired .open-close:nth-child(2){
  margin-top: 6px;
  margin-bottom: 0px;
}

.federer-perspired section.sparklines.expanded .open-close:nth-child(2){
  margin-top: 0px;
  margin-bottom: 6px;
}

.federer-perspired .handle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #5C4B51;
  opacity: 0.6;
}

.federer-perspired .open-close:nth-child(2) .handle{
  -webkit-animation: handle-throb  2.0s infinite ease-in-out;
  animation: handle-throb  2.0s infinite ease-in-out;
}

@-webkit-keyframes handle-throb {
  0%, 100% {
      opacity: 0.6;
  }
  50% {
      opacity: 1;
      background-color: #8CBEB2;
  }
}

@keyframes handle-throb {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
    background-color: #8CBEB2;
  }
}
/*
 * END SPARKLINE STYLING
 */


/**
 * Main content styling
 */
section.federer-perspired {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.federer-perspired article {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom:  2.5rem;
  position: relative;
}

.federer-perspired article blockquote p{
  font-style: italic;
  font-size: 1.25rem;
  margin-left: 80px;
  margin-right: 80px;
}

.federer-perspired article.federer-perspired blockquote{
  margin-top: 10px;
  margin-bottom: 0px;
}


.federer-perspired article blockquote p.quote{
  padding-bottom: 0;
}

.federer-perspired article blockquote p.quote span.text{
}

.federer-perspired article blockquote p.quote span.quote-mark{
  font-size: 1.4rem;
}

.federer-perspired article blockquote p.quote span.source{
  font-size: 1rem;
  font-style: normal;
}

.federer-perspired article.federer-perspired div.update{
  margin-top: 1rem;
  text-align: center;
}

.federer-perspired article.embed{
  text-align: center;
}

.federer-perspired article.embed iframe{
  max-width: 100%;
}


.federer-perspired a.action{
  color: #fff;
  background-color: #F3B562;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  text-decoration: none;
}

.federer-perspired a.action:HOVER{
  background-color: #F2EBBF;
  color: #5C4B51;
}

.federer-perspired a.action:active{
  background-color: #5C4B51;
  color: #fff;
}

.federer-perspired a.player-action{
  color: #fff;
  background-color: #8CBEB2;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.federer-perspired a.player-action:HOVER{
  background-color: #F2EBBF;
  color: #5C4B51;
}

.federer-perspired a.player-action:active{
  background-color: #5C4B51;
  color: #fff;
}

.federer-perspired .visualisation{
  display: flex;
  flex-direction: row;
}

.federer-perspired .visualisation .controls{
  display: inline-block;
  width: 40px;
}

.federer-perspired .visualisation .graphic{
  display: inline-block;
  flex-grow: 1;
}

.federer-perspired .visualisation .caption{
  width: 100px;
  position: relative;
}

.federer-perspired .visualisation .caption p{
  position: absolute;
  bottom: 0px;
  margin-bottom: 0;
  font-style: italic;
  font-size: 0.625rem;
  width: 100%;
  line-height: 1rem;
}

.federer-perspired .visualisation .caption.left p{
  text-align: right;
}

.federer-perspired .slider{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 300px;
}

.federer-perspired .slider .bar{
  position: absolute;
  left: 15px;
  width: 10px;
  height: 100%;
  background-color: rgba(204,204,204,0.2);
  border-radius: 20px;
}

.federer-perspired .slider .handle{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  background-color: grey;
  opacity: 1;
  cursor: pointer;
}

.federer-perspired .slider .handle-max{
  top: 0px;
  background-color: #F06060;

}

.federer-perspired .slider .handle-min{
  top: 280px;
  background-color: #8CBEB2;
}

.federer-perspired .barchart{
  height: 300px;
  position: relative;
  overflow: hidden;
}

.federer-perspired .barchart div{
  background-color: rgba(204,204,204,0.2);
  position: absolute;
  cursor: pointer;
  text-align: center;
}

.federer-perspired .barchart div span{
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 0.75rem;
  padding: 4px;
  display: block;
}

.federer-perspired .barchart div span.mean, .barchart div span.count{
  font-size: 1.25rem;
}

.federer-perspired .barchart div.selected{
  background-color: rgba(140, 190, 178, 1);

}

.federer-perspired .barchart div.selected span{
    color: #fff;
}

.federer-perspired .linechart{
  height: 300px;
  width:100%;
  position: relative;
}

.federer-perspired .linechart .line {
  fill: none;
  stroke-width: 2px;
}


/**
 * Footer styling
 */
/* footer {
  width: 100%;
  margin: auto;
  text-align: justify;
  padding-top: 20px;
}

footer p {
  text-align: center;
  line-height: 1.25rem;
} */


.federer-perspired div.load_more_comments{
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.federer-perspired a.load_more_comments{
  cursor: pointer;
  text-decoration: underline;
}

.federer-perspired div.end_of_stream{
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}


/**
 * SPINNER
 */
.federer-perspired .spinner-wrapper{
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.federer-perspired .spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0px auto;
}

.federer-perspired .double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.federer-perspired .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/**
 * END SPINNER
 */




@media (max-width: 2000px) {
  .federer-perspired header.hero {
    height: 571px;
    background-image: url(../images/hero/charlie-2000-571.jpg);
  }

  .federer-perspired header.mini-hero {
    height: 100px;
    background-image: url(../images/hero/charlie-2000-100.jpg);
  }


}



@media (max-width: 800px) {
  .federer-perspired header.site {
    flex-direction: column;
  }

  .federer-perspired section.header div{
    text-align: center;
  }

  .federer-perspired h1{
    display: block;
    text-align: center;
  }

  .federer-perspired section.header h1{
    flex-grow: 1;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    margin-top: 0.425rem;
    margin-bottom: 0;
  }

}


@media (max-width: 600px) {

  .federer-perspired a.action:HOVER{
    color: #fff;
    background-color: #F3B562;
  }

  .federer-perspired a.player-action:HOVER{
    background-color: #8CBEB2;
    color: #ffffff;
  }

  .federer-perspired article blockquote p{
    margin-left: 20px;
    margin-right: 20px;
  }

  .federer-perspired .barchart div span{
    padding-bottom: 1px;
  }

  .federer-perspired .barchart div span.mean, .barchart div span.count{
    font-size: 0.425rem;
    line-height: .625rem;
    padding-top: 1px;
  }
}
