<!DOCTYPE html>
<!-- layout blog-post -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
  </head>

  <body class="blog-post">

    {% include header.html %}

    <div class='content'>
      <article class="blog">
        <section class="title">
          <h2>{{ page.title }}</span></h2>
        </section>
        <section class="content">
          {{ content }}
        </section>
      </article>

      {% include footer.html %}
    </div>
    
  </body>

</html>
