<!DOCTYPE html>
<!-- layout albums -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
  </head>

  <body>
    
    {% include header.html %}

    <article class="albums">
      {% assign albums = site.posts | where_exp: "item", "item.categories contains 'album'" %}
      {% assign alphabet = albums | group_by_exp: "item", "item.artist | slice: 0, 1" | sort: 'name' %}

      {% for letter in alphabet -%}
        <section class="letter grid">
            <h1>{{letter.name}}</h1>
        </section>
        {% assign sorted_albums = letter.items | sort: 'title' %}
        {% for album in sorted_albums -%}
          {% include album.html %}
        {% endfor -%}
      {% endfor -%}

    {% include archive.html %}

    {% include about.html %}
  
    {% include footer.html %}

    <script src='{{"/js/site-1.0.0.js" | prepend:site.baseurl}}'></script>
    
  </body>

</html>


