<!DOCTYPE html>
<!-- layout blog-post -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
  </head>

  <body class="blog-post">

    <article class="header">
          {% include header.html %}
    </article>

    <article class="blog">
      <section class="content">
        <h2>{{page.title}} <span class="date">{{page.date_written | date: "%B %Y" }}</span></h2>
        {{ page.content }}
      </section>
    </article>

    <article class="about">
        {% include footer-about.html %}
    </article>

    <article class="contents">
      {% include footer-contents.html %}
    </article>

    <article class="footer">
      {% include footer.html %}
    </article>

  </body>

</html>
