<!DOCTYPE html>
<!-- layout blog-post -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
  </head>

  <body>

    {% include header.html %}

    <article class="blog">
      <section class="title">
        <h2>{{page.title}} <span class="date">{{page.date_written | date: "%B" | slice: 0, 3}} {{page.date_written | date: "%Y" }}</span></h2>
      </section>
      <section class="content">
        {{ page.content }}
      </section>
    </article>

    {% include about.html %}

    {% include contents.html %}
  
    {% include footer.html %}
    
  </body>

</html>
