<!DOCTYPE html>
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
    <link rel='stylesheet' href='{{"/interactive/cv/css/style.css" | prepend:site.baseurl}}'/>
    <link rel='stylesheet' href='{{"/interactive/cv/css/print.css" | prepend:site.baseurl}}' media="print"/>
  </head>

  <body class='blog-post cv'>
    {% include header-cv.html %}

    <article class='pulldown grey'>
      <section class='content'>
        <div class='text'>
          {{page.fun_section | markdownify}}
        </div>
        <div class='handle'><h4>- Do Not Press -</h4></div>
      </section>
    </article>

    <article class='main'>
      <section class='headline'>
        <a href='{{site.url}}'><img src='{{"/images/site/darren_shaw_circle.png" | prepend:site.baseurl}}' class='profile'/></a>
        <h1>Darren Shaw <span class='date'>Technical Lead and Full Stack Developer</span></h1>
      </section>
      <section>
        {{ content }}
      </section>
    </article>

    <article class='projects'>
      {% for section in page.project_sections %}
        <section>{{ section | markdownify }}</section>
      {% endfor %}
    </article>


    {% include footer.html %}
    <script src='{{"/interactive/cv/js/d3.min.js" | prepend:site.baseurl}}'></script>
    <script src='{{"/interactive/cv/js/site.js" | prepend:site.baseurl}}'></script>
  </body>

</html>
