<html>
<!-- layout interactive-strudel -->
{% include version.html %}

<head>
    {% include head-core.html %}
    {% include favicon-projects.html %}
    <link rel="stylesheet" href="{{'/interactive/strudel/css/style-1.0.0.css' | prepend:site.baseurl}}"/>
</head>

<body>

{% include header.html class='black' %}

<article class="strudel">
    <section>
        <h2>Strudel</h2>
        <button id="play" onclick="play();">Play</button>
        <button id="stop" onclick="stop();">Stop</button>

        <strudel-editor id="strudel-repl">
<!--
// setcpm(110/4)
// sound("bd [hh hh hh] sd [hh bd] bd - [hh sd] [bd bd]")
//     .sound("bd hh bd - bd hh bd hh")
//     .bank("RolandTR909")

// sound("bd bd bd bd").bank("RolandTR909").punchcard()

// sound("bd:1*4 bd:2 bd:1*2 bd:1").bank("RolandTR909")

// note("c a f e").color("black").punchcard()


// Set the tempo to 140 BPM
setCps(140/60/4)

const mainBeat = sound(`
[-  -  oh - ] [-  -  -  - ] [-  -  -  - ] [-  -  -  - ],
[hh hh -  - ] [hh -  hh - ] [hh -  hh - ] [hh -  hh - ],
[-  -  -  - ] [cp -  -  - ] [-  -  -  - ] [cp cp -  - ],
[-  -  -  - ] [-  -  -  - ] [-  -  -  - ] [cp -  -  - ],
[bd -  -  - ] [-  -  -  bd] [-  -  bd - ] [-  -  -  bd],
[sd -  -  - ] [sd -  -  - ] [-  -  -  - ] [-  -  -  - ]
`)
  .bank("RolandTR909");


const fill = sound("bd*8 bd*2")
  .bank("RolandTR909");


const piano = note("c2 g2, c e g b").sound("piano, gm_acoustic_bass");

const pianoEffected = piano
 .lpf(6000) // A Low-Pass Filter removes high frequencies, making it sound deep.
  .lpq(3) // Adds a slight resonance to the filter for character.
  .delay(0.3) // Adds a stereo delay effect.
  .delaytime("0.25 0.5") // Sets different delay times for the left and right channels.


// stack(mainBeat, piano);
// mainBeat
const drums = every(8, () => fill, mainBeat);
// drums;
stack(drums, piano);


-->
        </strudel-editor>
    </section>
</article>

{% include archive.html %}

{% include about.html %}

{% include footer.html %}

<script src="https://unpkg.com/@strudel/repl@1.0.2"></script>
<!--<script src="https://unpkg.com/@strudel/web@1.0.3"></script>-->
<script src="{{'/js/site-1.0.0.js' | prepend:site.baseurl}}"></script>
<script src="{{'/interactive/strudel/js/main.1.0.0.js'}}"></script>


</body>

</html>