<!DOCTYPE html>
<html>
{% include version.html %}

<head>
  {% include head-core.html %}
  <link rel='stylesheet' href='{{"/interactive/fashion-colour/lib/style.css" | prepend:site.baseurl}}' />
</head>

<body>

  {% include header.html %}


  <article class='fashion-colour'>
    <section class="title">
      <h2>{{page.title}} <span class="date">{{page.date_written | date: "%B %Y" }}</span></h2>
    </section>
    <section class="text-content">
      <p>What does Net-A-Porter look like? Is it the website? The logo? The clothes? The photoshoots? The Westfield
        Office? To a software engineer trying to understand colour similarity, this is what Net-A-Porter looks like.</p>
    </section>
    <section class='full-width-content'>
      <div class='clusters' id="nap"></div>
    </section>
    <section class="text-content">
      <p>
        Each small line represents a product on the site and its colour. Hover over one of those lines and you'll see
        all the other products by that designer. And this is what Mr Porter looks like.
      </p>
      <p>
        I didn't set out to produce these visualisations. They are the result of experiments and mistakes made
        attempting to answer a simple question. Which colours are similar?
      </p>

      <h3>Visual Merchandising</h3>
      <p>
        I'm a developer in the Merchandising, Recommendations and Search team at YNAP. We support the visual
        merchandisers, automating their repetitive tasks, freeing them to spend time using their creativity and fashion
        knowledge to curate products across Net-A-Porter and Mr Porter.
      </p>
      <p>
        Product pages have "You May Also Like" sections, listing items that the merchandisers believe compliment, or are
        an alternative to, the main product. Even as a computer scientist, I love that these recommendations are hand
        curated and not collaborative filtered by an algorithm.
      </p>
      <p>
        <img src='{{"/interactive/fashion-colour/images/ymal.png" | prepend:site.baseurl}}' />
      </p>
      <p>
        A "You May Also Like" section has at least four recommendation slots, but that doesn't mean the merchandiser
        needs to make just four recommendations. Each slot has a queue of alternatives, meaning that a recommendation
        can always be shown, even when the primary item is sold out or unavailable.
      </p>
      <p>
        Creating these backup queues is one repetitive task that we've automated. A merchandiser has already made the
        creative decision in picking the complimentary item. The queue just needs to contain products most similar to
        the hand picked one. We judge the similarity of two products by weighting and combining a set of individual
        distance measures: price, category, designer, image similarity and colour.
      </p>

      <h3>Colour Similarity</h3>
      <p>
        Colour is perhaps the most important factor to the merchandisers in judging what products are similar. A product
        in the wrong colour stands out as being a bad recommendation, regardless of how close it is by the other
        distance measurements. Make a good colour selection and you can get away with a lot.
      </p>
      <p>
        <img src='{{"/interactive/fashion-colour/images/same-colour-products.png" | prepend:site.baseurl}}' />
      </p>
      <p>
        All products across our websites have a label colour. This is the colour name that makes most sense to our
        customers, who tend not to shop by hex codes. The label colour is visible in the user interface, you'll see a
        list of them If you filter by colour.
      </p>
      <p>
        <img src='{{"/interactive/fashion-colour/images/colour-selection.png" | prepend:site.baseurl}}' />
      </p>
      <p>
        In the past we used label colour for calculating how similar two products were. This worked reasonable well and
        was easy to understand. It did have some limitations, not all label colours are created equal.
      </p>
      <p>
        Nobody would argue against blue being a colour. But metallic? Metallic is more of property of another colour. Is
        neutral a colour? Or a collection of colours? Tan or cream would be considered "neutral" but what about a light
        pink? What about products that are made up of several colours? Or are transparent? I've not mentioned that we
        have an "animal print” colour. If the computer scientists were in charge we would have likely added an animal
        sub-type. We would still be arguing the case for tortoiseshell being a colour, pattern or texture.
      </p>

      <h3>Colour Perception</h3>
      <p>
        Rainbows have seven colours because Isaac Newton liked the symmetry with musical scales. The names we give to
        colours are a human concept, tied to a fuzzy range of wavelengths that culture has settled on. A Russian speaker
        in our team (Hello Alisa!) taught us that in Russia dark-blue and light-blue aren't two variations of the same
        colour, but two different colours entirely. Goluboy and siniy in Russian are as different as yellow and red are
        in English. But words don't matter? Russian speakers are better at distinguishing between light and dark blue
        visually because they have different words for them.
      </p>
      <p>
        Using labelled colours did allow us to measure distance between colours, with lists of similar colours. But this
        was subjective. Colour perception itself is not consistent between people (remember the dress), never mind
        similarity. Label colour had an additional problem for recommendations. It didn't account for variation within a
        colour. In English "blue" covers everything from indigo to sky blue.
      </p>

      <h3>Sampling Colour</h3>
      <p>
        Relying on label colours would always limit the recommendations we made, but we couldn't expect merchandisers to
        add precise hex colour codes to product descriptions. So we began to extract the colour palette from product
        images using Color-Thief. We refer to these as sampled colours. Color-Thief proved to be more accurate than we
        anticipated. There's lots of internet projects doing things with colour that I suspect use it. A personal
        favourite is the Beyoncé Palettes Tumblr.
      </p>
      <p>
        <img src='{{"/interactive/fashion-colour/images/beyonce-colours.png" | prepend:site.baseurl}}' />
      </p>
      <p>
        Color-Thief provides precise RGB (Red Green Blue) values for each product which we can use to judge colour
        similarity. This is where things get complicated. RGB values are just three dimensional points in space, so the
        obvious thing to do is calculate the Euclidean distance between any two points. This does not work well. The
        mathematical distance between points in 3D RGB space does not correspond to how humans judge the similarity of
        the colours at those points.
      </p>
      <p>
        Colour distance is easier to understand when represented in HSL (Hue Saturation Luminance). In this form, hue
        represents what we typically think of as colour. Saturation is the purity of that colour, it would take you from
        a hot pink at high saturation to a pastel pink at low saturation. Luminance is how bright the colour is.
        Saturation and luminance exist on a line from a minimum to maximum value, but hue exists on a circle (think of a
        colour wheel), the biggest value being next to the smallest value. Colour similarity models are typically based
        on HSL rather than RGB values.
      </p>
      <p>
        The reason that the Euclidean distance between points, either in RGB or HSL doesn’t correspond with human’s
        perception of colour similarity is that people are more sensitive to the brightness of some colour components
        than others. There are colour space models that try to take account of this. These models have had many
        iterations and there is still debate about them. We implemented one model (CIEDE2000) and this did produce an
        improvement over our naive Euclidean distances, but still didn't give the results that our merchandisers needed.
        At a certain point, colours are just different. It doesn't matter if one colour is less different from the
        other, past that point they both become bad alternatives.
      </p>

      <h3>Disney x Mathematica</h3>
      <p>
        Theodore Gray has written about how he decided where those points should lie while working on a project to
        extract colour palettes from Disney films. What Gray did was to cluster the colour values. Once the colours had
        been put in clusters, Gray could sort by the brightness of the mean value of the clusters and then by the
        brightness of the individual colours within each cluster.
      </p>
      <p>
        Gray’s problem was close to what we were struggling with. We could use his clusters to define what counted as a
        similar colour. Using DL4J it was easy to build k-means clusters of the product colours, but it was more
        difficult to get a sense of how the colours were being clustered. I still had the Beyoncé Palette Tumblr in mind
        so I decided to produce a colour palette that would show all of Net-A-Porter with products arranged in to their
        colour clusters. A few iterations later and I had the visualisation that opened this article.
      </p>

      <h3>Gel Electrophoresis</h3>
      <p>
        I shared an early version of the visualisation with a colleague (hello Kristian!) who pointed out that it looked
        like the gel electrophoresis profiles used in the analysis of DNA.
      </p>
      <p>
        <img src='{{"/interactive/fashion-colour/images/gel-electrophoresis.png" | prepend:site.baseurl}}' />
      </p>
      <p>
        I was focussed on colour, but what Kristian saw was something else, a single page representation of the whole
        Net-A-Porter site. That is a lot of information compressed to a single screen. It prompts more questions than it
        answers. Does this colour map change (mutate) over time? Does it vary by region? Are there core parts of the map
        that remain consistent? Do specific designers occupy a region of the map? What does Nike's colour scheme look
        like? Or Gucci's?
      </p>
      <p>
        We still need to solve the original colour similarity problem for the visual merchandisers, I think the
        clustering will do that. Simply matching products with colours in the same cluster should produce better quality
        results. We need to productions the code and optimise how the clusters are created and configured to produce the
        best results, but the difficult work has been done.
      </p>
      <p>
        What I’m excited about now is work on answering the questions that the visualisation asked. I don’t know what
        value exists in answering them. There might be none, but I expect there’ll be a whole new thoughts and ideas
        that spring from trying to.
      </p>
    </section>
  </article>
  </section>

  {% include footer.html %}
  <script src='{{"/interactive/fashion-colour/lib/p5/p5.min.js" | prepend:site.baseurl}}'></script>
  <script src='{{"/interactive/fashion-colour/fashion-colour-0.0.2.js" | prepend:site.baseurl}}' data-canvas-id="nap"
    data-data-path="/interactive/fashion-colour/data/nap-ukme-variant-attributes-2021-03-12T11-00-33-0.0.2.json"></script>
</body>


</html>