<html>
<!-- layout interactive-fashion-palette -->
{% include version.html %}

<head>
  {% include head-core.html %}
  <link rel='stylesheet' href='{{"/interactive/fashion-palette/css/site/fashion-palette.css" | prepend:site.baseurl}}' />
</head>

<body>

  <article class='fashion-palette'>
    <section class='text-content-colourblock black'>
      <p>My favourite Net-A-Porter colour is black.</p>
      <p class='small'>(I like it so much I made a <a href='{{"/interactive/fashion-palette/nap-black-palette-darrenshaw.pdf" | prepend:site.baseurl}}'>poster</a>)</p>
    </section>
    <section class='full-width-content'>
      <div class='products small' id='nap-products-black'></div>
    </section>
    <section class='text-content-colourblock red'>
      <p>Maybe you like something more striking. Red?</p>
    </section>
    <section class='full-width-content'>
      <div class='products small' id='nap-products-red'></div>
    </section>
    <section class='text-content-colourblock multicolour'>
      <p>Designers like <a href='https://www.net-a-porter.com/en-gb/shop/designer/missoni'>Missoni</a> know how to make beautiful combinations of colours.</p>
      <!-- <p class='small'>(Click a palette to explore more)</p> -->
    </section>
    <section class='full-width-content'>
      <div class='products small' id='nap-products-multicolour'></div>
    </section>
    <section class='full-width-content'>
      <div class='clusters' id="nap"></div>
    </section>
    <section id='custom-palette' class='text-content-colourblock custom'>
    </section>
    <section class='full-width-content'>
      <div class='products' id='nap-products-custom'></div>
    </section>
    <section class='text-content'>
      <!-- <p>
        There are plenty more to explore. How about a <a href='javascript:updateEmbedding([-77.630798,47.702747,71.011345,-37.419888,27.820232,-55.096798,25.27841,15.917574,2.619129,3.16355,0.023582,-9.36956,-24.212778,-22.881384,13.54798],["#1e1d35","#dfdad3","#73707d","#8c949c","#8c8ca4"]);'>navy blue palette</a>, or a <a href='javascript:updateEmbedding([-106.006493,47.827129,87.101952,-76.531746,34.452999,-55.616158,48.695396,33.153187,30.645609,6.528161,82.269485,-52.122322,-184.627472,-58.151165,23.053148],["#e3fb35","#f5f6e5","#dcfb19","#e4f57f","#e4f956"]);'>high viz</a> one, or maybe just shades of <a href='javascript:updateEmbedding([-118.541939,55.979366,89.30883,-55.170773,14.589123,-60.174488,30.024975,20.300505,24.239079,5.528847,-5.411576,-36.079689,-54.654572,-58.20435,10.263261],["#efefef","#b4b4b4","#c4c4c4","#cccccc","#d3d3d4"]);'>white</a>?
      </p> -->
      <h2>TLDR</h2>
      <p>
        I'm a software developer in Net-A-Porter's Catalogue Management team. We worry about classification, filtering and ranking. On this page you're not seeing products filtered by colour, but products ordered by their similarity to a palette.
      </p>
      <h2>Go for Bold</h2>
      <p>
        <a href='https://www.net-a-porter.com/en-gb/'>Net-A-Porter</a>'s Spring Summer 2022 marketing campaign, "Go for Bold", centred around a collection of colourful products. The campaign photography (which I love) used dramatic angles, shadows and vivid palettes. Marketing wanted to add a technology element to the project and one idea was to use palettes as a route to finding products.
      </p>
    </section>
    <section class='full-width-content'>
        {% include image.html path='blog/colour-of-net-a-porter/go-for-bold-campaign.jpg' class='full-spaced full-width' %}
    </section>
    <section class='text-content'>
      <p>
        Ultimately this idea was binned for <a href='https://www.ynap.com/news/net-a-porter-launches-its-spring-summer-22-campaign-go-for-bold-integrating-ar-and-ai-technologies/'>something else</a>, but <a href='https://www.linkedin.com/in/kristina-brjazgunova/'>Kris</a> and <a href='https://www.linkedin.com/in/nazkazazoglu/'>Naz</a> from our Future Strategy and Design team had already discussed how we might do this with Google, who had done something similar with <a href='https://artsexperiments.withgoogle.com/artpalette/'>Art Palette</a>. I was too attached to the idea and what Google had done to not build it anyway.
      </p>
      <h2>How it Works</h2>
      <p>
        The starting point was to identify a colour palette for every product. I used <a href='https://lokeshdhakar.com/projects/color-thief/'>ColorThief</a> to sample product images and extract the five most dominant colours from each. These colours would define a product's palette.
      </p>
      <p>
        I needed to score how similar any two palettes were. A colour is a point in 3D space made up of Red, Green and Blue (RGB) coordinates. A Euclidean distance measures how close any two points in that 3D space are. Unfortunately, proximity in RGB is not a good proxy for how our eyes and brains perceive colour similarity. An alternative to RGB is <a href='https://en.wikipedia.org/wiki/CIELAB_color_space#CIELAB'>CIELAB</a> which was designed to represent colour in a way that more closely aligns with human perception. Euclidean distances between CIELAB colours do provide a good proxy for perceived colour similarity.
      </p>
      <p>
        With five CIELAB colours per palette, measuring the distance between any two palettes (ignoring the order of colours) would mean 25 distance calculations. Not practical in a realtime query. For a catalogue the size of Net-A-Porter it would mean executing over a million calculations to find the closest palettes. 
      </p>
      <p>
        This is where I leant heavily on what Google had done with a clever optimisation trick. Offline, Goolge had calculated the distance between every possible palette in the colour space. Those distance values were then used to train a machine learning model to predict how similar any two palettes were. Removing the final layer in that model provided embeddings that represented the palettes in an n-dimensional space. Significantly, that space would locate similar palettes near to each other. These embeddings could be used to measure the distance between palettes directly, replacing 25 calculations with one. 
      </p>
      <p>
        The final step was to create an index of palette embeddings for the catalogue. An index provides a fast way to search for the nearest neighbours of any palette and to the products represented by those palettes. I used <a href='https://github.com/jchambers/jvptree'>Jon Chamber</a>'s <a href='https://en.wikipedia.org/wiki/Vantage-point_tree'>Vantage Point Tree</a> implementation</a> as an in-memory index.
      </p>
      <p>
        What makes this fun is that with an index of embeddings and a way of converting a palette to an embedding it's possible to search for products that are the nearest neighbour to any palette. There's no reason a palette needs to come from a product image. 
      </p>
    </section>
    <section class='text-content-colourblock starrynight'>
      <p>Maybe you want to find products that have a Starry Night palette?</p>
    </section>
    <section class='full-width-content'>
      <div class='products small' id='nap-products-starrynight'></div>
    </section>
    <section class='text-content'>
      <ol class='references'>
        <li>Google's <a href='https://artsexperiments.withgoogle.com/artpalette/'>Art Palette</a> and <a href='https://github.com/googleartsculture/art-palette'>source code</a>.</li>
        <li>Lokesh Dhakar's <a href='https://lokeshdhakar.com/projects/color-thief/'>ColorThief</a>.</li>
        <li>Jon Chamber's <a href='https://github.com/jchambers/jvptree'>VP Tree</a> implementation.</li>
        <li>Per Bang's <a href='http://www.procato.com/home/'>colour names</a>.</li>
      </ol>
    </section>
  </article>

  {% include about.html %}

  {% include contents.html %}

  {% include footer.html %}

  <script src='{{"/interactive/fashion-palette/js/handlebars.js" | prepend:site.baseurl}}'></script>
  <script src='{{"/interactive/fashion-palette/js/common.js" | prepend:site.baseurl}}'></script>
  <script src='{{"/interactive/fashion-palette/js/site/fashion-palette.js" | prepend:site.baseurl}}'></script>
  
</body>

</html>