<!DOCTYPE html>
<!-- layout music -->
<html>
{% include version.html %}
<head>
    {% include head-core.html %}
    {% include favicon-music.html %}
</head>

<body>

{% include header.html class='black'%}

<article class="music">
    <section class="title">
        <h2>What I'm Listening To On Spotify</h2>
    </section>
</article>

<article id="article-playlist" class="music">
    <section id="music-list-playlist" class="music-masonry"></section>
    <section class="title"><p id="music-list-playlist-updated"></p></section>
</article>

{% include archive.html %}

{% include about.html %}

{% include footer.html %}

<script>
    const RECENT_PLAYLIST_URL = "data/music-library-api/playlist/{{ site.time | date: '%Y' }}.json"
</script>
<script src="{{'/js/site-1.0.0.js' | prepend:site.baseurl}}"></script>
<script src="{{'/interactive/music/js/handlebars.js' | prepend:site.baseurl}}"></script>
<script src="{{'/interactive/music/js/site-1.0.4.js' | prepend:site.baseurl}}"></script>

</body>

</html>
