<!DOCTYPE html>
<!-- layout notes -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
    {% include favicon-projects.html %}
  </head>

  <body>

    {% include header.html class='black'%}

    <article class="blog notes">
        <section class="title">
            <h2 title='{{page.date_written | date: "%d %B %Y"}}'>{{page.title}} <span class="date">{{page.date_written | date: "%B" | slice: 0, 3}} {{page.date_written | date: "%Y" }}</span></h2>
        </section>
        <section class="content">
            {{ page.content }}
        </section>

        <section class="contents">
            <h2>Notes*</h2>
            {% assign all_notes = site.posts | where_exp: "item", "item.categories contains 'notes'" %}
            {% for note in all_notes -%}
            <div class="note">
                <a href='{{ note.url }}' title='{{note.date_written | date: "%d %B %Y"}}'><h3>{{ note.title }}</h3></a>
                <span class="date">{{note.date_written | date: "%d %B %Y"}}</span>
                <p>{{ note.excerpt | remove: '<p>' | remove: '</p>' -}}</p>
            </div>
            {% endfor -%}
            <p>*Things I'm reading, watching, listening to or thinking about and don't want to lose.</p>
        </section>
    </article>

    {% include archive.html %}
    
    {% include about.html %}
  
    {% include footer.html %}

    <script src='{{"/js/site-1.0.0.js" | prepend:site.baseurl}}'></script>
    
  </body>

</html>
