<!DOCTYPE html>
<!-- layout photography -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
  </head>

  <body>
    
    {% include header.html %}

    <article class="photography background-black">
      <section class="gallery-header">
        {% include image.html path='images/gallery/header/DMS5962-Edit-Edit.jpg' alt='Photographer: Darren Shaw, Model: Emily' title='Photographer: Darren Shaw, Model: Emily' %}
      </section>
      <section class="gallery-masonry">
        {% include image.html path='images/gallery/DMS2709-Edit.jpg' alt='Photographer: Darren Shaw, Model: Emily' title='Photographer: Darren Shaw, Model: Emily' %}
        {% include image.html path='images/gallery/DS150115003148-9.jpg' alt='Photographer: Darren Shaw, Model: Charlie' title='Photographer: Darren Shaw, Model: Charlie' %}
        {% include image.html path='images/gallery/DSC0159_50532.jpg' alt='Photographer: Darren Shaw, Model: Julie' title='Photographer: Darren Shaw, Model: Julie' %}
        {% include image.html path='images/gallery/DSC0284.jpg' alt='Photographer: Darren Shaw, Model: Eric' title='Photographer: Darren Shaw, Model: Eric' %}
        {% include image.html path='images/gallery/DSC0877.jpg' alt='Photographer: Darren Shaw, Model: Julie' title='Photographer: Darren Shaw, Model: Julie' %}
        {% include image.html path='images/gallery/DSC0997.jpg' alt='Photographer: Darren Shaw, Model: Julie' title='Photographer: Darren Shaw, Model: Julie' %}
        {% include image.html path='images/gallery/DSC1407_80780.jpg' alt='Photographer: Darren Shaw, Model: Charlie' title='Photographer: Darren Shaw, Model: Charlie' %}
        {% include image.html path='images/gallery/DSC1794-Edit.jpg' alt='Photographer: Darren Shaw, Model: Eric' title='Photographer: Darren Shaw, Model: Eric' %}
        {% include image.html path='images/gallery/DSC2551_82769.jpg' alt='Photographer: Darren Shaw, Model: Beth' title='Photographer: Darren Shaw, Model: Beth' %}
        {% include image.html path='images/gallery/DSC4508.jpg' alt='Photographer: Darren Shaw, Model: Charlie' title='Photographer: Darren Shaw, Model: Charlie' %}
        {% include image.html path='images/gallery/DSC6986-Edit.jpg' alt='Photographer: Darren Shaw, Model: Jess' title='Photographer: Darren Shaw, Model: Jess' %}
        {% include image.html path='images/gallery/DSC6993-Edit.jpg' alt='Photographer: Darren Shaw, Model: Jess' title='Photographer: Darren Shaw, Model: Jess' %}
        {% include image.html path='images/gallery/DSC7910-Edit.jpg' alt='Photographer: Darren Shaw, Model: Julie' title='Photographer: Darren Shaw, Model: Julie' %}
        {% include image.html path='images/gallery/DSC8400-Edit-Edit.jpg' alt='Photographer: Darren Shaw, Model: Sophie' title='Photographer: Darren Shaw, Model: Sophie' %}
        {% include image.html path='images/gallery/DSC9748-Edit-2.jpg' alt='Photographer: Darren Shaw, Model: Sophie' title='Photographer: Darren Shaw, Model: Sophie' %}
        {% include image.html path='images/gallery/DSF1186-Edit-Edit.jpg' alt='Photographer: Darren Shaw, Model: Sophie' title='Photographer: Darren Shaw, Model: Sophie' %}
        {% include image.html path='images/gallery/DSF1353-Edit.jpg' alt='Photographer: Darren Shaw, Model: Eric' title='Photographer: Darren Shaw, Model: Eric' %}
        {% include image.html path='images/gallery/IMG_0014_44062.jpg' alt='Photographer: Darren Shaw, Model: Brigita' title='Photographer: Darren Shaw, Model: Brigita' %}
      </section>
    </article>

    {% include archive.html %}

    {% include about.html %}
  
    {% include footer.html %}

    <script src='{{"/js/site-1.0.0.js" | prepend:site.baseurl}}'></script>
    
  </body>

</html>


