<!DOCTYPE html>
<!-- layout photography -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
    {% include favicon-photography.html %}
  </head>

  <body>
    
    {% include header.html %}

    <article class="photography">
      <section class="gallery-header">
        {% include image.html path='images/gallery/header/DMS5962-Edit-Edit.avif' %}
      </section>
      <section class="gallery-masonry">
        {% include image.html path='images/gallery/21428-0009.avif'  %}
        {% include image.html path='images/gallery/DMS2405-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS2709-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS3291-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS3412-Edit.avif' %}
        {% include image.html path='images/gallery/DMS3477-Edit.avif' %}
        {% include image.html path='images/gallery/DMS3526-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS3863-Edit.avif' %}
        {% include image.html path='images/gallery/DMS3925-Edit.avif' %}
        {% include image.html path='images/gallery/DMS4198-Edit.avif' %}
        {% include image.html path='images/gallery/DMS4938-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS5049-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS5248-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS5254-Edit-2-Edit.avif' %}
        {% include image.html path='images/gallery/DMS5298-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS5379-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS5692-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS5995-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS6748-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DMS6823-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DS150115003148-9.avif' %}
        {% include image.html path='images/gallery/DSC0348.avif' %}
        {% include image.html path='images/gallery/DSC0363.avif' %}
        {% include image.html path='images/gallery/DSC1054-Edit.avif' %}
        {% include image.html path='images/gallery/DSC1303-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DSC1794-Edit.avif' %}
        {% include image.html path='images/gallery/DSC2551_82769.avif' %}
        {% include image.html path='images/gallery/DSC2658.avif' %}
        {% include image.html path='images/gallery/DSC3983.avif' %}
        {% include image.html path='images/gallery/DSC4036.avif' %}
        {% include image.html path='images/gallery/DSC4194_86963.avif' %}
        {% include image.html path='images/gallery/DSC4508.avif' %}
        {% include image.html path='images/gallery/DSC5031-Edit.avif' %}
        {% include image.html path='images/gallery/DSC6779.avif' %}
        {% include image.html path='images/gallery/DSC6888-Edit.avif' %}
        {% include image.html path='images/gallery/DSC6983-Edit.avif' %}
        {% include image.html path='images/gallery/DSC7893.avif' %}
        {% include image.html path='images/gallery/DSC7910-Edit.avif' %}
        {% include image.html path='images/gallery/DSC8480_70819.avif' %}
        {% include image.html path='images/gallery/DSC8537-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DSC8559_70823.avif' %}
        {% include image.html path='images/gallery/DSC9456-Edit-Edit.avif' %}
        {% include image.html path='images/gallery/DSC9748-Edit-2.avif' %}
        {% include image.html path='images/gallery/DSC9806_74330.avif' %}
        {% include image.html path='images/gallery/IMG_0014_44062.avif' %}
        {% include image.html path='images/gallery/IMG_0028.avif' %} 
      </section>
    </article>

    {% include archive.html %}

    {% include about-shoot-with-me.html %}
  
    {% include footer.html %}

    <script src='{{"/js/site-1.0.0.js" | prepend:site.baseurl}}'></script>
    
  </body>

</html>


