<!DOCTYPE html>
<!-- layout picture -->
{% assign picture_posts = site.categories['pictures'] | sort: 'date' | reverse -%}

{% assign picture_pos_first = 0 -%}
{% assign picture_pos_last = picture_posts.size | minus: 1 -%}
{% for post in picture_posts limit:100 -%}
  {% if post.url == page.url -%}
    {% assign picture_post_pos_next = forloop.index -%}
    {% assign picture_post_pos_prev = forloop.index | minus: 2 -%}
  {% endif -%}
{% endfor -%}

{% capture next_url -%}
  {% if picture_post_pos_next < picture_posts.size -%}
    {{ picture_posts[picture_post_pos_next].url -}}
  {% else -%}
    {{ picture_posts[picture_pos_first].url -}}
  {% endif -%}
{% endcapture -%}

{% capture previous_url -%}
  {% if picture_post_pos_prev < 0 -%}
    {{ picture_posts[picture_pos_last].url -}}
  {% else -%}
      {{ picture_posts[picture_post_pos_prev].url -}}
  {% endif -%}
{% endcapture -%}
<html class="picture">
  {% include version.html %}
  <head>
    {% include head-core.html %}
    <script>
      const LEFT_ARROW_KEY = "ArrowLeft";
      const RIGHT_ARROW_KEY = "ArrowRight"
      const ESCAPE_KEY = "Escape";
      
      window.addEventListener('keyup', function(event){
        let key = event.key;
        if(key === ESCAPE_KEY){
          goBack();
        }
      });

      window.addEventListener('keydown', function(event) {
        let key = event.key;
        if(key === LEFT_ARROW_KEY){
          goPrevious();
        }
        else if(key === RIGHT_ARROW_KEY){
          goNext();
        }
      });

      function goBack(){
        window.location.href = "/#{{page.id}}";
      }

      function goPrevious(){
        window.location.href = "{{previous_url}}";
      }

      function goNext(){
        window.location.href = "{{next_url}}";
      }
    </script>
  </head>

  <body>
    <figure class='picture'>
      <a href="javascript:goBack();">
      {{ content | remove: '<p>' | remove: '</p>' }}
      </a>
    </figure>
    <!-- <span class='caption'>{{page.caption}}</span> -->
  </body>

</html>
