<!DOCTYPE html>
<!-- layout words -->
<html>
  {% include version.html %}
  <head>
    {% include head-core.html %}
  </head>

  <body class='words'>
    
    {% include header.html %}
    
    <div class='content'>
      <div class='page'>
        <ul class='contents'>
        {% for post in site.categories['blog'] limit:100 -%}
          <li>
            <div class='text'>
              <a href='{{ post.url }}'><h2>{{ post.title }}</h2></a>
              <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' -}}</p>
            </div>
            <div class='thumbnail'>
              <a href='{{ post.url }}'>
                {{ post.thumbnail | flatify }}
              </a>
            </div>
          </li>
        {% endfor -%}
        </ul>
      </div>

      {% include footer.html %}
    </div>

  </body>

</html>
